In [1]:
import pandas as pd
from ydata_profiling import ProfileReport
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
solicitacoes_credito = pd.read_csv('Arquivos/solicitacoescredito.csv')


solicitacoes_credito.head(2)

,numero_solicitacao,razaoSocial,nomeFantasia,cnpjSemTraco,maiorAtraso,margemBrutaAcumulada,percentualProtestos,primeiraCompra,prazoMedioRecebimentoVendas,titulosEmAberto,...,periodoDemonstrativoEmMeses,custos,anoFundacao,intervaloFundacao,capitalSocial,restricoes,empresa_MeEppMei,scorePontualidade,limiteEmpresaAnaliseCredito,dataAprovadoNivelAnalista
0,1,James Richardson-Patel,Alexandra Williams,KEBE17609492220843,0,0.252448,0.0,2015-12-10T00:00:00,0,0.0,...,12.0,0.0,2003.0,Acima de 17 anos,90000.0,False,True,1.0,43200.0,2020-02-03T20:57:33
1,2,Dr. Geoffrey Walsh,Mr. Darren Arnold,JRBK88908250677300,0,0.000000,NaN,2019-06-12T17:28:31,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [3]:
solicitacoes_credito.tail(2)

,numero_solicitacao,razaoSocial,nomeFantasia,cnpjSemTraco,maiorAtraso,margemBrutaAcumulada,percentualProtestos,primeiraCompra,prazoMedioRecebimentoVendas,titulosEmAberto,...,periodoDemonstrativoEmMeses,custos,anoFundacao,intervaloFundacao,capitalSocial,restricoes,empresa_MeEppMei,scorePontualidade,limiteEmpresaAnaliseCredito,dataAprovadoNivelAnalista
8971,9044,Keith Jones,Steven Kennedy-Jones,BRJP37453437154592,11,0.424099,0.0,2011-08-10T00:00:00,31,559679.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.994786,NaN,NaN
8972,9045,Cheryl Johnson,Chelsea Kay-Sinclair,COZD54939108010752,4,0.365041,0.0,2009-05-27T00:00:00,56,13640.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN

In [4]:
solicitacoes_credito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8973 entries, 0 to 8972
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   numero_solicitacao           8973 non-null   int64
 1   razaoSocial                  8973 non-null   object
 2   nomeFantasia                 8973 non-null   object
 3   cnpjSemTraco                 8973 non-null   object
 4   maiorAtraso                  8973 non-null   int64
 5   margemBrutaAcumulada         8973 non-null   float64
 6   percentualProtestos          7475 non-null   float64
 7   primeiraCompra               8867 non-null   object
 8   prazoMedioRecebimentoVendas  8973 non-null   int64
 9   titulosEmAberto              8973 non-null   float64
 10  valorSolicitado              8973 non-null   float64
 11  status                       8973 non-null   object
 12  definicaoRisco               8973 non-null   object
 13  diferencaPercentualRisco     8973 non-null   float64
 14  percentualRisco              8973 non-null   float64
 15  dashboardCorrelacao          8973 non-null   float64
 16  valorAprovado                7569 non-null   float64
 17  dataAprovadoEmComite         558 non-null    object
 18  periodoBalanco               4733 non-null   object
 19  ativoCirculante              4733 non-null   float64
 20  passivoCirculante            4733 non-null   float64
 21  totalAtivo                   4733 non-null   float64
 22  totalPatrimonioLiquido       4733 non-null   float64
 23  endividamento                4733 non-null   float64
 24  duplicatasAReceber           4733 non-null   float64
 25  estoque                      4733 non-null   float64
 26  faturamentoBruto             8223 non-null   float64
 27  margemBruta                  8223 non-null   float64
 28  periodoDemonstrativoEmMeses  8223 non-null   float64
 29  custos                       8223 non-null   float64
 30  anoFundacao                  8228 non-null   float64
 31  intervaloFundacao            8228 non-null   object
 32  capitalSocial                8228 non-null   float64
 33  restricoes                   8228 non-null   object
 34  empresa_MeEppMei             8228 non-null   object
 35  scorePontualidade            8973 non-null   float64
 36  limiteEmpresaAnaliseCredito  8228 non-null   float64
 37  dataAprovadoNivelAnalista    7011 non-null   object
dtypes: float64(23), int64(3), object(12)
memory usage: 2.6+ MB

In [5]:
solicitacoes_credito.isnull().sum()

numero_solicitacao                0
razaoSocial                       0
nomeFantasia                      0
cnpjSemTraco                      0
maiorAtraso                       0
margemBrutaAcumulada              0
percentualProtestos            1498
primeiraCompra                  106
prazoMedioRecebimentoVendas       0
titulosEmAberto                   0
valorSolicitado                   0
status                            0
definicaoRisco                    0
diferencaPercentualRisco          0
percentualRisco                   0
dashboardCorrelacao               0
valorAprovado                  1404
dataAprovadoEmComite           8415
periodoBalanco                 4240
ativoCirculante                4240
passivoCirculante              4240
totalAtivo                     4240
totalPatrimonioLiquido         4240
endividamento                  4240
duplicatasAReceber             4240
estoque                        4240
faturamentoBruto                750
margemBruta                     750
periodoDemonstrativoEmMeses     750
custos                          750
anoFundacao                     745
intervaloFundacao               745
capitalSocial                   745
restricoes                      745
empresa_MeEppMei                745
scorePontualidade                 0
limiteEmpresaAnaliseCredito     745
dataAprovadoNivelAnalista      1962
dtype: int64

In [6]:
solicitacoes_credito.nunique()

numero_solicitacao             8973
razaoSocial                    2759
nomeFantasia                   2677
cnpjSemTraco                   2829
maiorAtraso                     175
margemBrutaAcumulada           2145
percentualProtestos              10
primeiraCompra                 1950
prazoMedioRecebimentoVendas     180
titulosEmAberto                 761
valorSolicitado                 363
status                            7
definicaoRisco                    4
diferencaPercentualRisco         79
percentualRisco                  81
dashboardCorrelacao             701
valorAprovado                   326
dataAprovadoEmComite            558
periodoBalanco                  124
ativoCirculante                1794
passivoCirculante              1789
totalAtivo                     1788
totalPatrimonioLiquido         1759
endividamento                  1185
duplicatasAReceber             1668
estoque                        1674
faturamentoBruto               4288
margemBruta                    1929
periodoDemonstrativoEmMeses      12
custos                         1743
anoFundacao                      69
intervaloFundacao                 4
capitalSocial                   403
restricoes                        2
empresa_MeEppMei                  2
scorePontualidade               385
limiteEmpresaAnaliseCredito    1810
dataAprovadoNivelAnalista      7011
dtype: int64

In [7]:
solicitacoes_credito2 = solicitacoes_credito.drop(['numero_solicitacao', 'razaoSocial', 'nomeFantasia', 'cnpjSemTraco', 'dataAprovadoEmComite', 'scorePontualidade', 'dashboardCorrelacao', 'definicaoRisco', 'diferencaPercentualRisco', 'margemBrutaAcumulada', 'percentualProtestos', 'periodoDemonstrativoEmMeses', 'restricoes', 'empresa_MeEppMei', 'dataAprovadoNivelAnalista', 'anoFundacao', 'percentualRisco','primeiraCompra'], axis=1)

solicitacoes_credito2.head(2)
solicitacoes_credito2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8973 entries, 0 to 8972
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   maiorAtraso                  8973 non-null   int64
 1   prazoMedioRecebimentoVendas  8973 non-null   int64
 2   titulosEmAberto              8973 non-null   float64
 3   valorSolicitado              8973 non-null   float64
 4   status                       8973 non-null   object
 5   valorAprovado                7569 non-null   float64
 6   periodoBalanco               4733 non-null   object
 7   ativoCirculante              4733 non-null   float64
 8   passivoCirculante            4733 non-null   float64
 9   totalAtivo                   4733 non-null   float64
 10  totalPatrimonioLiquido       4733 non-null   float64
 11  endividamento                4733 non-null   float64
 12  duplicatasAReceber           4733 non-null   float64
 13  estoque                      4733 non-null   float64
 14  faturamentoBruto             8223 non-null   float64
 15  margemBruta                  8223 non-null   float64
 16  custos                       8223 non-null   float64
 17  intervaloFundacao            8228 non-null   object
 18  capitalSocial                8228 non-null   float64
 19  limiteEmpresaAnaliseCredito  8228 non-null   float64
dtypes: float64(15), int64(2), object(3)
memory usage: 1.4+ MB

In [8]:
solicitacoes_credito3 = solicitacoes_credito2

solicitacoes_credito3 = solicitacoes_credito3.drop_duplicates()

# solicitacoes_credito3['ano_primeiraCompra'] = pd.to_datetime(solicitacoes_credito3['primeiraCompra'], errors='coerce').dt.year

# solicitacoes_credito3['primeiraCompra_valida'] = solicitacoes_credito3['primeiraCompra'].notna().astype(int)

# solicitacoes_credito3 = solicitacoes_credito3.drop(['primeiraCompra'], axis=1)

solicitacoes_credito3 = solicitacoes_credito3.dropna(subset=['totalPatrimonioLiquido'])

max_atraso = solicitacoes_credito3['maiorAtraso'].max()

solicitacoes_credito3['score_atraso'] = 1 - (solicitacoes_credito3['maiorAtraso'] / max_atraso)

# Garantir que o score esteja no intervalo [0, 1]
solicitacoes_credito3['score_atraso'] = np.clip(solicitacoes_credito3['score_atraso'], 0, 1)

solicitacoes_credito3 = solicitacoes_credito3[solicitacoes_credito3['totalPatrimonioLiquido'].notnull()]
# solicitacoes_credito3 = solicitacoes_credito3[solicitacoes_credito3['totalPatrimonioLiquido'] != 0]

solicitacoes_credito3 = solicitacoes_credito3.fillna(0)

solicitacoes_credito3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4538 entries, 4 to 8963
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   maiorAtraso                  4538 non-null   int64
 1   prazoMedioRecebimentoVendas  4538 non-null   int64
 2   titulosEmAberto              4538 non-null   float64
 3   valorSolicitado              4538 non-null   float64
 4   status                       4538 non-null   object
 5   valorAprovado                4538 non-null   float64
 6   periodoBalanco               4538 non-null   object
 7   ativoCirculante              4538 non-null   float64
 8   passivoCirculante            4538 non-null   float64
 9   totalAtivo                   4538 non-null   float64
 10  totalPatrimonioLiquido       4538 non-null   float64
 11  endividamento                4538 non-null   float64
 12  duplicatasAReceber           4538 non-null   float64
 13  estoque                      4538 non-null   float64
 14  faturamentoBruto             4538 non-null   float64
 15  margemBruta                  4538 non-null   float64
 16  custos                       4538 non-null   float64
 17  intervaloFundacao            4538 non-null   object
 18  capitalSocial                4538 non-null   float64
 19  limiteEmpresaAnaliseCredito  4538 non-null   float64
 20  score_atraso                 4538 non-null   float64
dtypes: float64(16), int64(2), object(3)
memory usage: 780.0+ KB

In [9]:
# Inicializar o scaler
scaler = MinMaxScaler()

# Normalizar cada componente
solicitacoes_credito3[['endividamento', 'titulosEmAberto', 'prazoMedioRecebimentoVendas', 'score_atraso', 'margemBruta', 'valorAprovado', 'valorSolicitado']] = scaler.fit_transform(
    solicitacoes_credito3[['endividamento', 'titulosEmAberto', 'prazoMedioRecebimentoVendas', 'score_atraso', 'margemBruta', 'valorAprovado', 'valorSolicitado']]
)

In [10]:
# # Ajustar a fórmula do percentual de risco
# solicitacoes_credito3['percentual_risco'] = (
#     (solicitacoes_credito3['endividamento'] +
#      solicitacoes_credito3['titulosEmAberto'] +
#      solicitacoes_credito3['prazoMedioRecebimentoVendas'] -
#      solicitacoes_credito3['score_atraso'] -  # Subtrair o score de atraso normalizado
#      solicitacoes_credito3['margemBruta']) /
#     (solicitacoes_credito3['valorAprovado'] + solicitacoes_credito3['valorSolicitado'])
# )

# # Normalizar o percentual de risco para o intervalo [0, 1]
# solicitacoes_credito3[['percentual_risco']] = scaler.fit_transform(solicitacoes_credito3[['percentual_risco']])

In [11]:
# Função para calcular o risco ponderado com base nos fatores informados
def calcular_risco(row):
    # Pesos atribuídos a cada fator de risco
    pesos = {
        'maiorAtraso': 0.2,  # Maior peso ao histórico de atraso
        'prazoMedioRecebimentoVendas': 0.1,  # Fluxo de caixa importante, mas não crítico
        'titulosEmAberto': 0.1,  # Dívidas pendentes são um risco importante
        'valorSolicitado': 0.05,  # Solicitado tem peso menor que o valor aprovado
        'valorAprovado': 0.05,
        'ativoCirculante': 0.05,
        'passivoCirculante': 0.05,
        'endividamento': 0.1,  # Endividamento tem um peso significativo
        'faturamentoBruto': 0.1,
        'margemBruta': 0.05,
        'capitalSocial': 0.05,
        'limiteEmpresaAnaliseCredito': 0.05,
        'score_atraso': 0.1,  # Score de atraso é relevante
    }
    
    # Normalizando algumas variáveis para ficarem em escalas semelhantes
    ativo_liquidez = row['ativoCirculante'] / (row['passivoCirculante'] + 1)  # Evitar divisão por zero
    valor_solicitado_aprovado = row['valorSolicitado'] / (row['valorAprovado'] + 1)
    
    # Cálculo do score ponderado
    risco = (
        pesos['maiorAtraso'] * row['maiorAtraso'] +
        pesos['prazoMedioRecebimentoVendas'] * row['prazoMedioRecebimentoVendas'] +
        pesos['titulosEmAberto'] * row['titulosEmAberto'] +
        pesos['valorSolicitado'] * valor_solicitado_aprovado +
        pesos['ativoCirculante'] * ativo_liquidez +
        pesos['endividamento'] * row['endividamento'] +
        pesos['faturamentoBruto'] * row['faturamentoBruto'] +
        pesos['margemBruta'] * row['margemBruta'] +
        pesos['capitalSocial'] * row['capitalSocial'] +
        pesos['limiteEmpresaAnaliseCredito'] * row['limiteEmpresaAnaliseCredito'] +
        pesos['score_atraso'] * (1 - row['score_atraso'])  # Quanto maior o score, menor o risco
    )
    
    # Retornar o valor de risco calculado
    return risco

# Aplicando a função de cálculo de risco para cada linha do DataFrame
solicitacoes_credito3['risco_calculado'] = solicitacoes_credito3.apply(calcular_risco, axis=1)

# Normalizando os valores de risco entre 0 e 1
solicitacoes_credito3['risco_calculado'] = np.clip(solicitacoes_credito3['risco_calculado'], 0, 1)

# Exibindo os resultados com o risco calculado
solicitacoes_credito3[['maiorAtraso', 'prazoMedioRecebimentoVendas', 'titulosEmAberto', 'valorSolicitado', 
    'valorAprovado', 'ativoCirculante', 'passivoCirculante', 'endividamento', 
    'faturamentoBruto', 'margemBruta', 'capitalSocial', 'limiteEmpresaAnaliseCredito', 
    'score_atraso', 'risco_calculado']].head()

,maiorAtraso,prazoMedioRecebimentoVendas,titulosEmAberto,valorSolicitado,valorAprovado,ativoCirculante,passivoCirculante,endividamento,faturamentoBruto,margemBruta,capitalSocial,limiteEmpresaAnaliseCredito,score_atraso,risco_calculado
4,20,0.012461,0.000524,0.000033,0.007634,14758917.0,12149031.0,0.004103,40779757.0,0.174882,75000.0,89000.0,0.979529,1.0
7,4,0.063551,0.073671,0.000200,0.045802,17801610.0,2538069.0,0.000000,11958227.0,0.156774,120000.0,768233.0,0.995906,1.0
8,43,0.016822,0.002267,0.000267,0.061069,36827690.0,13843198.0,0.000000,72479551.0,0.155989,1000000.0,6910219.0,0.955988,1.0
10,7,0.000000,0.000000,0.000667,0.122137,2127907.0,704245.0,0.000495,4575646.0,0.154498,20000.0,81000.0,0.992835,1.0
11,26,0.000000,0.000000,0.000133,0.007634,5369982.0,6118711.0,0.002316,13871246.0,0.154230,600000.0,183509.0,0.973388,1.0

In [12]:
print(solicitacoes_credito3.columns)

Index(['maiorAtraso', 'prazoMedioRecebimentoVendas', 'titulosEmAberto',
       'valorSolicitado', 'status', 'valorAprovado', 'periodoBalanco',
       'ativoCirculante', 'passivoCirculante', 'totalAtivo',
       'totalPatrimonioLiquido', 'endividamento', 'duplicatasAReceber',
       'estoque', 'faturamentoBruto', 'margemBruta', 'custos',
       'intervaloFundacao', 'capitalSocial', 'limiteEmpresaAnaliseCredito',
       'score_atraso', 'risco_calculado'],
      dtype='object')

In [13]:
solicitacoes_credito3.to_excel('Arquivos/saida.xlsx')

In [14]:
# profile = ProfileReport(solicitacoes_credito3)

In [15]:
# profile.to_file("relatorio.html")

In [16]:
solicitacoes_credito3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4538 entries, 4 to 8963
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   maiorAtraso                  4538 non-null   int64
 1   prazoMedioRecebimentoVendas  4538 non-null   float64
 2   titulosEmAberto              4538 non-null   float64
 3   valorSolicitado              4538 non-null   float64
 4   status                       4538 non-null   object
 5   valorAprovado                4538 non-null   float64
 6   periodoBalanco               4538 non-null   object
 7   ativoCirculante              4538 non-null   float64
 8   passivoCirculante            4538 non-null   float64
 9   totalAtivo                   4538 non-null   float64
 10  totalPatrimonioLiquido       4538 non-null   float64
 11  endividamento                4538 non-null   float64
 12  duplicatasAReceber           4538 non-null   float64
 13  estoque                      4538 non-null   float64
 14  faturamentoBruto             4538 non-null   float64
 15  margemBruta                  4538 non-null   float64
 16  custos                       4538 non-null   float64
 17  intervaloFundacao            4538 non-null   object
 18  capitalSocial                4538 non-null   float64
 19  limiteEmpresaAnaliseCredito  4538 non-null   float64
 20  score_atraso                 4538 non-null   float64
 21  risco_calculado              4538 non-null   float64
dtypes: float64(18), int64(1), object(3)
memory usage: 815.4+ KB

In [19]:
solicitacoes_credito3.to_pickle('saidas/solicitacoes_credito_tratado.pkl')