In [61]:
import pyodbc
import pandas as pd
from tabulate import tabulate
dados_conexao = (
    "Driver={ODBC Driver 17 for SQL Server};"
    "Server=DESKTOP-PJGTBM4;"          # Nome do servidor local
    "Database=PythonSQL;"               # Nome do banco de dados
    "Trusted_Connection=yes;"           # Autenticação do Windows
)

conexao = pyodbc.connect(dados_conexao)
print("Conexão OK")

Conexão OK

In [8]:
# Responsável por executar as queries
cursor = conexao.cursor()

In [31]:
id = 3
cliente = "Lira Python"
produto = "Carro"
data = "25/08/2021"
preco = "5000"
quantidade = 1

In [32]:
comando = f"""INSERT INTO Vendas(id_venda, cliente, produto, data_venda, preco, quantidade)
VALUES
    ({id}, '{cliente}', '{produto}', '{data}', {preco}, {quantidade}) """

In [33]:
# Executa o código acima
cursor.execute(comando)
# É necessário apenas se o comando que está sendo executado faz alguma edição
cursor.commit()

In [51]:
# Consulta no banco de dados 
select = f"""SELECT * FROM Vendas"""
cursor.execute(select)

# fetchall armazena o resultado da consulta
resultados = cursor.fetchall()
print(resultados)

# Fechar a conexão
conexao.close()

[(1, 'Lira', 'PC', datetime.date(2021, 2, 15), Decimal('8000.00'), 1), (1, 'Lira', 'PC', datetime.date(2021, 2, 15), Decimal('8000.00'), 1), (3, 'Lira Python', 'Carro', datetime.date(2021, 8, 25), Decimal('5000.00'), 1), (2, 'Alon', 'Iphone', datetime.date(2021, 8, 25), Decimal('6000.00'), 1)]

In [71]:
# Percorre a variavel resultado, colocando cada linha dentro de uma lista individual e 
# depois armazenando todas em  uma grande lista chamada resultado_listas
resultados_listas = [list(linha) for linha in resultados]
# Cria o dataframe e nomeia o cabeçalho
resultados_df = pd.DataFrame(resultados_listas, columns=['id', 'cliente', 'produto', 'data_venda', 'preco', 'quantidade'])

display(resultados_df)

   id      cliente produto  data_venda    preco  quantidade
0   1         Lira      PC  2021-02-15  8000.00           1
1   1         Lira      PC  2021-02-15  8000.00           1
2   3  Lira Python   Carro  2021-08-25  5000.00           1
3   2         Alon  Iphone  2021-08-25  6000.00           1